<?xml version="1.0" encoding="utf-8"?>
<Servicos xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Categorias>
    <Categoria>
      <Servicos>
        <ServicoExtraInfo>
          <NextCall>0</NextCall>
          <TimerInterval>0</TimerInterval>
          <Estado>Parado</Estado>
          <Updated>0001-01-01T00:00:00</Updated>
          <Name>Sample</Name>
          <URL>http://localhost:8181</URL>
        </ServicoExtraInfo>
        <ServicoExtraInfo>
          <NextCall>35146926</NextCall>
          <TimerInterval>3000</TimerInterval>
          <Estado>Agendado</Estado>
          <Updated>2013-01-07T19:14:13.3550272Z</Updated>
          <Name>222222222</Name>
          <URL>http://localhost:8002</URL>
        </ServicoExtraInfo>
      </Servicos>
      <Id>1</Id>
      <Nome>Data Scrapping</Nome>
    </Categoria>
  </Categorias>
</Servicos>