<?xml version="1.0" encoding="utf-8"?>
<Servicos xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Categorias>
    <Categoria>
      <Servicos>
        <ServicoExtraInfo>
          <NextCall>0</NextCall>
          <TimerInterval>0</TimerInterval>
          <ActionStart>0001-01-01T00:00:00</ActionStart>
          <ActionEnd>0001-01-01T00:00:00</ActionEnd>
          <Estado>Indisponivel</Estado>
          <Updated>2013-01-15T18:31:45.8074501Z</Updated>
          <Name>11111111111</Name>
          <URL>http://localhost:9001</URL>
        </ServicoExtraInfo>
        <ServicoExtraInfo>
          <NextCall>35146926</NextCall>
          <TimerInterval>3000</TimerInterval>
          <ActionStart>0001-01-01T00:00:00</ActionStart>
          <ActionEnd>0001-01-01T00:00:00</ActionEnd>
          <Estado>Indisponivel</Estado>
          <Updated>2013-01-15T18:29:46.6621595Z</Updated>
          <Name>222222222</Name>
          <URL>http://localhost:9002</URL>
        </ServicoExtraInfo>
      </Servicos>
      <Id>1</Id>
      <Nome>Data Scrapping</Nome>
    </Categoria>
  </Categorias>
</Servicos>